:root { 
    --orange: #FF5804;
    --purple: #513DBF;
    --pink: #F2B3D1;
    --green: #73BF8E;
    --yellow: #F2B705;
    --beige: #FFFEF4;
    --brown: #2B1E09;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mobile version*/

body {
    background-color: var(--beige);
    font-family: "roboto-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--brown);
}

.icons {
  display: none;
}
/*date on the left site*/

#date {
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 20px;
    left: 4px;
    z-index: 10;
    position: fixed;
}

h1 {
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 69px;
    position: absolute;
    top: 50px;
    
}

#lowfi {
    max-width: 40%;
    position: absolute;
    top: 20px;
}

/*color shapes in background*/

#background {
    z-index: -2;
    position: relative;
    left: 0px;
    top: 0px;
}

#background_PC {
  display: none;
}

.mainlogo {
    display: grid; 
    place-items: center;
}

/*burger navigation*/

.burger-toggle {
    display: none;
  }
  
.burger-icon {
    display: inline-block;
    top: 20px;
    left: 90%;
    z-index: 10;
    position: fixed;
    cursor: pointer;
  }
  
.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--brown);
    border-radius: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }
  
#burger-toggle:checked ~ .burger-icon .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
#burger-toggle:checked ~ .burger-icon .line:nth-child(2) {
    opacity: 0;
  }
  
#burger-toggle:checked ~ .burger-icon .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
.menu {
    display: none;
  }
  
#burger-toggle:checked ~ .menu {
    display: block;
  }
  
a {
    font-family: "roboto-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--brown);
}

.pcnav{
    top: 50px;
    left: 82%;
    z-index: 24;
    position: fixed;
    list-style: none;
}

/*1st paragraph*/

.intro {
    top: 200px;
    display: grid; 
    place-items: center;
}

.intro p {
    text-align: left;
    margin-left: 210px;
    padding-right: 50px;
    z-index: 12;
    position: absolute;
    top: 140px;
}


h2 {
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 22px;
    color: var(--brown);
}

/*pink background circle*/

#pink {
    width: 50%;
    z-index: 10;
    position: relative;
    bottom: 380px;
    left: 70px;

}

#countdown {
    position: relative;
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 32%;
    bottom: 570px;
    font-size: 20px;
    z-index: 12;
    text-align: center;
}

#countdown p {
    position: relative;
    margin-top: 5%;
    margin-left: 50%;
    margin-right: 50%;
    left: 50px;
    bottom: 570px;
    font-size: 24px;
    z-index: 12;
}

 
/*line up section*/  

.bluerectangle {
    float: right;
    margin-top: -60%;
    margin-bottom: 5%; 
    display: block;
  }

.bluerectanglePC {
  display: none;
}

#orangephoto {
    max-width: 291px;
    z-index: 12;
    margin-top: -180%;
    float: right;
}

.lineup_background {
  width: 227px;
  height: 252px;
  background: var(--beige);
  z-index: 12;
  position: absolute;
  margin-left: 30%;
  margin-top: -15%;
}

#line_up {
margin-left: 35%;
z-index: 20;
}

.lineupbutton {
  margin-left: 18%;
  margin-top: 15%;
  width: 149px;
  height: 48px;
  font-family: "stratos", sans-serif;
  font-size: 22px;
  background-color: var(--beige);
  z-index: 12;
  border: none;
}

.lineupbutton:active {
  font-size: 24px;
  background-color: var(--pink);
}

.lineup_text {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

/*about section*/

.abouttext {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 63px;
  padding-right: 100px;
  display: grid;
  font-size: 14px;
}

#about {
  margin-left: 63px;
} 

/*video section*/

.videosection {
  display: flex ;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.videoclass {
  flex: 1;
  margin-right: -50%;
  display: block;
}

.videoPC {
  display: none;
}

#videoid {
  z-index: 9;
  width:312px;
  height:176px;
}

/*tickets*/

h3{
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: semibold;
  font-size: 20px;
  color: var(--brown);
}

#tickets {
  margin-top: 10%;
  margin-left: 70%; 
}

#purple {
  width: 40%;
  z-index: -10;
}

.pinktickets {
  width: 85%;
  margin-bottom: 10%;
  position: relative;
  z-index: 3;
}

.ticketspc {
  display: none;
}

/*full ticket*/

#fullfestival {
  margin-left: 15%;
  bottom: 280px;
}

.full {
  display: grid;
  place-items: center;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 30% 30% 40%;
  z-index: 12;
  grid-gap: 5px;
  position: relative;
  bottom: 420px;
}

.full h3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.full #price {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  margin-bottom: 18px;
}

.full p {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: -20px;
}

.full button {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: -25px;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  background-color: var(--beige);
  color: var(--brown);
  border: none;
  padding: 5px 20px;
}

/*single day ticket*/

#singleday {
  bottom: 360px;
  margin-right: 15%;
}

.day {
  display: grid;
  place-items: center;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 30% 30% 40%;
  z-index: 12;
  grid-gap: 5px;
  position: relative;
  bottom: 510px;
}

.day p {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: -20px;
}

.day h3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.day #pricetwo {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  margin-bottom: 18px;
}

.day button {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: -17px;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  background-color: var(--beige);
  color: var(--brown);
  border: none;
  padding: 5px 20px;
}

/*one concert ticket*/

#oneconcert {
  margin-left: 15%;
  bottom: 430px;
}

.concert {
  display: grid;
  place-items: center;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 30% 30% 40%;
  z-index: 12;
  grid-gap: 5px;
  position: relative;
  bottom: 570px;
}

.concert p {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: -20px;
}

.concert h3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.concert #pricethree {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  margin-bottom: 18px;
}

.concert button {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: -25px;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  background-color: var(--beige);
  color: var(--brown);
  border: none;
  padding: 5px 20px;
}

/*footer*/
#footerpic {
  width: 100%;
  margin-top: -170%;
  max-width: 390px;
  text-align: center;
}
#smp {
  border: 1px solid var(--brown);
}
.newsletterform {
  z-index: 10;
  display: block;
  width: 300px;
  margin-bottom: 15px;
  padding: 20px;
  padding-left: 34px;
  border: 5px solid;
  margin-left: 30px;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.newslettertext {
  z-index: 10;
  margin-top: -400px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  margin-left: 48px;
}

.contactustext {
  z-index: 10;
  margin-top: 40px;
  text-align: right;
  padding-right: 80px;
  font-family: "stratos", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.contactinformation {
  display: flex;
  margin-right: 10px;
  padding-top: 30px;
  z-index: 10;
}
.list{
 margin-left: 35%;
  position: absolute;
  text-align: right;
}
input {
  background-color: var(--beige);
  margin: 2px;
  border: 1px solid;
  font-family: "roboto-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: var(--brown);
}

.newsletterform button {
  background-color: var(--beige);
  color: var(--brown);
  border: 1px solid;
  border-color: var(--brown);
  margin-top: 20px;
  text-decoration: underline;
  font-family: "stratos", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding: 9px;
}

#contact{
  margin-left: 65%;
  margin-top: -8%;
}

.footerpicpc {
  display: none;
}

@media screen and (min-width: 768px){

/*navigation PC*/

  .burger-toggle {
    display: none;
  }
  
  .burger-icon {
    display: none;
  }
  
  .menu {
    display: block;
  }
  
  .pcnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    margin-left: -30vw;
    margin-top: -1vw;
  }
  
  .pcnav li a {
    text-decoration: underline;
    color: var(--brown);
    padding: 1vw;
  }
  
  .pcnav li a:hover {
    color: var(--orange);
  }

  a {
    font-size: 28px;
  }

  #date {
    font-size: 30px;
    margin-top: 5%;
  }

  .icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: -100vw;
    z-index: 12;
  }

  .icon{
    width: 64px;
    padding: 10px;
    margin-left: 92vw;
  }

  #fb {
   width: 50px;
   margin-left: 93vw;
  }

  #background {
    display: none;
  }

  #pink{
    display: none;
  }
  
  #background_PC {
    z-index: 10;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    width: 45%;
  }

  #lowfi {
    margin-top: 8vw;
    width: 25vw;
    z-index: 12;
    margin-left: -33.5vw;
  }

  h1 {
    margin-top: 9vw;
    z-index: 12;
    font-size: 12vw;
    margin-left: -29vw;
  }

  .intro {
    display: grid;
    place-items: center;
    margin-left: 30vw;
    margin-right: 70px;
  }

  p {
    font-size: 26px;
  }

  .intro p {
    margin-top: 20vw;
    margin-left: 15vw;
    margin-right: 30vw;
  }

  h2 {
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 57px;
    color: var(--brown);
  }

  #countdown {
    font-size: 4vW;
    margin-top: -10%;
    margin-left: 7%;
    margin-right: 50%;
  }

 
  /*lineup PC*/ 
  #orangephoto {
    float:right;
    max-width:70vw;
    margin-top: -130vw;
    object-position: 20vw;
  }


  .bluerectangle {
    display: none;
  }

  .bluerectanglePC {
    float: right;
    width: 70vw;
    object-position:20vw;
    margin-top: -20vw ;
    display: block;
  }

  #line_up {
    margin-left: 12vw ;
  }

  .lineup_background {
    width:37vw ;
    height: 42vw;
    margin-left: 55vw;
    margin-top: 20vw;
  }

  .lineup_text {
    font-size: 2.5vw;
    padding: 3vw;
  }

  .lineupbutton {
    width: 20vw;
    height: 5vw;
    font-size: 2.5vw;
    margin-top:3vw ;
    margin-left: 8vw;
  }


  /*aboutPC*/
  #about {
    padding-top: 32vw;
    padding-left: 5vw;
    padding-bottom: 0vw;
  }

  .abouttext {
    font-size: 22px;
    padding-left: 10vw;
    padding-right: 0vw;
  }

 
  /*videoPC*/

  #videoid {
    width: 40vw;
    height: 30vw;
    flex: 1;
  }

  .video {
    display: none;
  }

  .videoPC {
    display: block;
    height: 28.25vw;
    margin-left: 10vw;
    margin-top: 1.75vw;
  }

  /*tickets*/

  .pinktickets {
    display: none;
  }

  #purple {
    z-index: -1;
    max-width: 30vw;
  }

  .ticketspc {
    width: 95vw;
    display: block;
    z-index: 3;
    margin-bottom: 40vw;
    
  }

  h3{
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: semibold;
    font-size: 40px;
    color: var(--brown);
  }

  /*full day ticket*/

  .ff {
    margin-left: 10vw;
    margin-top: -60vw;
  }

  .full {
   display: grid;
    place-items: center;
    grid-template-columns: 10% 30% 35% 15% 10%;
    grid-template-rows: 50% 50%;
    z-index: 12;
    grid-gap: 5px;
    position: relative;
    bottom: 52vw;
  }

  .full button {
    margin-top: 5vw;
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
    background-color: var(--beige);
    color: var(--brown);
    border: none;
    padding: 5px 10px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .full p {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 1vw;
  }
  
  .full h3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -3vw;
  }
  
  .full #price {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
  }

  /*single day ticket*/

  .sd {
    margin-right: 10vw;
    margin-top: -30vw;
  }

  .day {
    display: grid;
    place-items: center;
    grid-template-columns: 10% 15% 35% 30% 10%;
    grid-template-rows: 50% 50%;
    z-index: 12;
    grid-gap: 5px;
    position: relative;
    bottom: 52vw;
  }

  .day p {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 1vw;
  }

  .day h3 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -1vw;
  }

  .day #pricetwo {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    margin-bottom: 18px;
  }
  
  .day button {
    margin-top: 2vw;
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
    background-color: var(--beige);
    color: var(--brown);
    border: none;
    padding: 5px 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /*one concert ticket*/

  .oc {
    margin-left: 10vw;
    margin-top: -30vw;
  }

  .concert {
    display: grid;
    place-items: center;
    grid-template-columns: 10% 30% 35% 15% 10%;
    grid-template-rows: 50% 50%;
    z-index: 12;
    grid-gap: 5px;
    position: relative;
    bottom: 52vw;
  }
    
  .concert p {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: -6vw;
  }
    
  .concert h3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -3vw;
  }
    
  .concert #pricethree {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    margin-bottom: 18px;
  }

  .concert button {
    margin-top: 5vw;
    font-family: "stratos", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
    background-color: var(--beige);
    color: var(--brown);
    border: none;
    padding: 5px 10px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /*footer*/

  .footerpicpc {
    display: block;
    max-width: 100%;
    margin-top: 10vw;
  }
  #footerpic {
    display: none;
  }
  #newslettersection {
    margin-left: 540px;
    margin-top: -37%;

  .newslettertext {
    font-size: 30px;
    margin-left: -2%;
  }

  .t {
    width: 330px;
    height: 30px;
    border: 1px solid;
    font-size: 25px;
    margin-left: -26%;
  }

  .newsletterform button {
    border: 1px solid;
    font-size: 25px;
    margin-left: 15%;
  }
  
  #contact {
    margin-top: -100%;
    margin-right: 700%;
    padding-right: 500%;
    
  }

 .fr {
  margin-left: 1000%;
  margin-top: 60%;
  width: 100%;
  padding-left: 50%;
  
 }

 .sn {
  float: left;
  display: block;
  padding-left: 600%;
  text-align: left;

 }

 #contactinformation {
  padding-left: 1000%;
  margin-bottom: 50%;
  margin-top: 400%;
  margin-left: 300%;
  display: block;
  text-align: center;
  padding-top: 40

 }

  
}
  
}